.toggle-menu {
  padding: 5px;
  margin-left: 15px;
}

.toggle-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 15px;
  border-radius: 50%;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  transition: 0.2s;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-45deg);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span:after {
  transform: rotate(45deg);
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.page-link:hover {
  z-index: 2;
  color: #e22346;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e22346;
  border-color: #e22346;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.7875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  list-style: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.breadcrumb-item a {
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.popup {
  position: fixed;
  background-color: rgba(17, 17, 17, 0.57);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.popup__closer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.popup__inner {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  margin: 0 auto;
  padding: 15px 20px;
  position: relative;
  z-index: 5;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: end;
  color: #333;
}

.popup__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.popup_active {
  z-index: 3;
  opacity: 1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.form button {
  border: none;
  margin-bottom: 20px;
}

.form__input {
  margin-bottom: 15px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  resize: none;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 25px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.btn__accent {
  background-color: #e22346;
}

.btn__accent:hover {
  background-color: #bb1319;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease;
}

.header__inner {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(245, 7, 13, 0.45);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 0 5px 8px;
}

.header__logo-link {
  display: block;
}

.header__logo {
  height: 60px;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.45px;
  font-weight: 500;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #e22346;
  left: 0;
  top: 30px;
  transition: all 0.5s ease;
}

.header__link:hover::after {
  width: 100%;
}

.header__link + .header__link {
  margin-right: 25px;
  transition: all 0.5s ease;
}

.header__social {
  display: flex;
  align-items: flex-end;
}

.header__callback {
  margin-right: 25px;
  font-size: 13px;
  color: #cdcdcd;
  text-decoration: none;
  transition: all 0.5s ease;
  margin-bottom: -5px;
}

.header__callback:hover {
  color: #fff;
}

.header__social-item {
  display: flex;
  align-items: flex-end;
}

.header__social-item + .header__social-item {
  margin-left: 15px;
}

.header__social-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header__social-icon i {
  padding-top: 2px;
  display: none;
  font-size: 20px;
}

.header__social-icon:hover {
  background: none;
}

.header__social-icon:hover i {
  display: block;
}

.header__social-icon + .header__social-icon {
  margin-left: 10px;
}

.header__social-label {
  font-size: 11px;
  color: #fff;
  margin-left: 5px;
}

.header_fixed {
  position: fixed !important;
  background-color: rgba(25, 25, 25, 0.8);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.header_fixed .header__inner {
  padding: 15px 0;
  align-items: center;
  border: none;
}

.header_fixed .header__link::after {
  top: 43px;
}

.header_fixed .header-bottom {
  top: 66px !important;
}

.header_fixed .header__social {
  align-items: center;
}

.header_fixed .header__social-item {
  align-items: center;
}

.header_fixed .header__social-icon {
  color: #333 !important;
}

.social-icon-one {
  background-color: #00b401;
}

.social-icon-two {
  background-color: #e22346;
}

.social-icon-three {
  background-color: #004a86;
}

.header-bottom {
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54px;
  z-index: 10;
  width: 100%;
  max-width: 1170px;
  transition: all 0.5s ease;
}

.header-bottom_active {
  height: 400px;
  padding: 20px 40px;
}

.link-none {
  display: none;
  margin-right: 25px;
}

.header-background {
  position: static;
  background-color: #fff;
  border-bottom: 1px solid rgba(245, 7, 13, 0.45);
  z-index: 20;
  color: #333;
}

.header-background .header__inner {
  padding: 15px 0;
  align-items: center;
  border: none;
}

.header-background .header__link {
  color: #333;
}

.header-background .link-none {
  display: block;
}

.header-background .header__link::after {
  top: 43px;
}

.header-background .header-bottom {
  top: 68px !important;
}

.header-background .header__social {
  align-items: center;
}

.header-background .header__social-item {
  align-items: center;
}

.header-background .header__social-icon {
  color: #333 !important;
}

.header-background .header__callback:hover {
  color: #333;
}

.header-background .menu-btn span,
.header-background .menu-btn span::before,
.header-background .menu-btn span::after {
  background-color: #333;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.slider__bcg {
  width: 100%;
  height: 80vh;
  min-height: 340px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #000;
  display: flex;
  align-items: center;
}

.slider__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80vh;
  min-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 70%;
  z-index: 2;
}

.slider__inner {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 900px;
  padding: 30px 15px;
  transform: translate(-50%, -50%);
  background-color: rgba(68, 68, 68, 0.7);
  z-index: 999;
  text-align: center;
}

.slider__title {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.slider__text {
  margin-bottom: 40px;
  text-align: center;
}

.slider__btn {
  margin: 0 auto;
}

.callback {
  width: 100%;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.callback__inner {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.callback__left {
  width: 100%;
  max-width: 300px;
}

.callback__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.callback__phone {
  display: flex;
  flex-direction: column;
}

.callback__link {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

.callback__right {
  max-width: 300px;
  width: 100%;
}

.callback__form {
  display: flex;
  flex-direction: column;
}

.callback__input {
  margin-top: 20px;
  padding: 10px;
  font-size: 22px;
}

.callback__btn {
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.callback__personal {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}

.callback__personal a {
  color: #333;
}

.callback__middle i {
  font-size: 38px;
  color: #004a86;
  margin-right: 20px;
  margin-bottom: 15px;
}

.callback-faq__title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 700;
}

.callback-faq__item {
  display: flex;
  align-items: center;
}

.uslugi {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.uslugi__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.uslugi__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: relative;
  padding: 15px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  transition: all 0.5s ease;
}

.uslugi__item:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transform: translate(-5px, -5px);
}

.uslugi__img {
  opacity: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 2;
}

.uslugi__title {
  z-index: 3;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.uslugi__info {
  z-index: 3;
  font-size: 22px;
}

.item-one {
  grid-column: 1/3;
}

.item-one img {
  width: 100%;
}

.item-two img {
  height: 100%;
}

.item-three img {
  height: 100%;
}

.item-for img {
  height: 100%;
}

.item-five img {
  height: 100%;
}

.item-six {
  grid-column: 3/5;
}

.item-six img {
  width: 100%;
}

.about {
  padding: 60px 0;
  margin: 0 auto;
  background-color: #f6f6f6;
  font-size: 14px;
  font-weight: 300;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.about__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.about__text {
  margin-bottom: 15px;
}

.about__list {
  margin-bottom: 15px;
  padding-left: 15px;
  list-style: none;
}

.about__list_item {
  position: relative;
  padding: 0;
  margin: 0;
}

.about__list_item::after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #333;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
  border-radius: 50%;
  position: absolute;
}

.about__info {
  padding: 20px;
  background-color: #fff;
}

.about__h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
}

.about__contacts {
  margin-bottom: 15px;
}

.about__phone {
  font-weight: 700;
  font-size: 18px;
}

.clients {
  width: 100%;
  padding: 120px 0;
  margin: 0 auto;
}

.clients__inner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
}

.clients__left {
  width: 100%;
  max-width: 350px;
}

.clients__title {
  margin-bottom: 20px;
  font-size: 24px;
}

.clients__text {
  margin-bottom: 40px;
}

.clients__slider {
  padding: 120px 100px;
  border: 1px solid rgba(245, 7, 13, 0.45);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 50%;
  max-width: 600px;
  background-color: #f6f6f6;
}

.clients__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clients__right div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.clients__name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.clients__clients {
  margin-bottom: 20px;
}

.clients__date {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.clients__link {
  text-align: center;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid rgba(245, 7, 13, 0.45);
  color: #333;
  display: inline-block;
  margin: 0 auto;
}

.posadochnaya {
  height: 300vh;
}

.footer {
  border-top: 1px solid rgba(245, 7, 13, 0.45);
  width: 100%;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 60px 0;
  color: #333;
  font-weight: 700;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__contacts {
  width: 100%;
}

.footer__icon {
  margin-right: 10px;
}

.footer__title {
  font-size: 22px;
  margin-bottom: 30px;
}

.footer__nav {
  width: 100%;
  text-align: center;
}

.footer__submenu {
  width: 100%;
  text-align: end;
}

.footer__links {
  display: block;
  text-decoration: none;
  color: #333333;
  transition: all 0.5s ease;
}

.footer__links:hover {
  color: #e22346;
}

.footer__links + .footer__links {
  margin-top: 15px;
}

.footer__logo {
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.footer__logo-link {
  display: block;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

/**/

/* Medium Devices, Desktops */

/**/

/* Small Devices, Tablets */

/**/

/* Extra Small Devices, Phones */

/**/

/* Custom, iPhone Retina */

/**/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/**/

/* Extra Small Devices, Phones */

/**/

/* Small Devices, Tablets */

/**/

/* Medium Devices, Desktops */

/**/

/* Large Devices, Wide Screens */

/**/

